/* Custom Card */
.custom-card {
  border-radius: 20px;
}

.custom-card:hover {
  background-color: royalblue;
  color: white;
}

/* Card Image */
.card-image {
  width: 100px;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
}

.card-image:hover {
  background-color: royalblue;
  border-radius: 0;
}

/* Card */

.card-btn {
  background-color: royalblue;
}

.card-btn:hover {
  background-color: white !important;
  color: royalblue !important;
}