p {
  font-size: 1.1rem;
  line-height: 2rem;
}

img {
  width: 100%;
}

.round-20px {
  border-radius: 20px;
}

.icon {
  font-size: 2rem;
  margin: 20px;
  border-radius: 50%;
}

.twitter {
  padding: 5px 10px;
  color: white;
  background-color: #00ACEE;
}

.twitter:hover {
  color: #00ACEE;
  background-color: white;
}

.facebook {
  padding: 5px 16px;
  color: white;
  background-color: #3B5998;
}

.facebook:hover {
  color: #3B5998;
  background-color: white;
}

.youtube {
  padding: 5px 9px;
  color: white;
  background-color: #F00;
}

.youtube:hover {
  color: red;
  background-color: white;
}

.cover {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover::before {
  content: '';
  position: absolute;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.cover-text {
  position: relative;
  width: auto;
  opacity: 100%;
}

.image-thumbnail {
  position: relative;
  width: 100px;
  opacity: 100%;
}